/*intro section*/
#intro{
    padding-top: 0;
    margin-top: 0;
    max-width: 100%;
    max-height: 60vh;
}

.name *{
    display: block;
    font-family: 'Syne', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 0rem;
    line-height: 2rem;
}

.short-bio{
    position: relative;
    top:-2rem;
}

.short-bio ul{
 margin-top: 0rem;
 display: flex;
}
#intro .tag a{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    background-color: var(--purpleLight);
    color: var(--white);
    width: 2.5rem;
    height: 2.5rem;
    justify-self: center;
    margin-right: .5rem;
}
#intro .tag a:hover, #intro .tag a:focus{
    background-color: var(--purpleMid);
    transition-duration: .3s;
}


.short-bio p{
    font-size: .75rem;
}

#portrait{
    width: 30%;
    height: auto;
    position: static;
    /* shape-outside: circle(50%); */
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/shape-outside*/
    float: right;
}



.proj-circle{
    width:30%;
    position: relative;
    top:25%;
    z-index: 5;
    display: grid;
}
.proj-circle *{
 grid-area: 1/1/2/2;
}

.proj-card .proj-circle{
    grid-area: 1/1/2/2;
    justify-self:right;
    align-self:flex-end;
}


.proj-circle *{
    border-radius: 50% 50%;
    width: 100%;
}

#c1 *, #portrait *{
    grid-area: 1/1/2/2;
}

.proj-circle:hover, .proj-circle:focus{
    /* transform: scale(1.1); */
    transition: .5s;
    box-shadow: none;
    background-color: transparent;
}

/* work section */
#work-UIUX, #work-graphic{
    padding-top: 2rem;
    padding-bottom: 0rem;
    max-width: 100%;
}

/*
project card
*/
.proj-groups{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 1.5rem;
    margin:1.5rem 0;
    margin-top:0;
}

.proj-card .tag{ 
    font-size: .5rem;
    margin-right: .5rem;
}

.proj-card ul{
    margin: 0;
    margin-top: .5rem;
    display: flex;
    flex-wrap: wrap;
}

.proj-dscrp{
    grid-row: 5 / 6;
    font-size:.8rem;  
}

.proj-display{
    display: grid;
    border-radius: .5rem; 
    background-color: var(--purpleLight);
    margin: .5rem 0;
}


.proj-preview img{
    object-fit: cover;
    border-radius: .5rem; 
}

.proj-preview:hover, .proj-preview:focus {
    /* transform: scale(1.03); */
    transition-duration: .3s;
    opacity: .5;
}

.proj-preview img:hover,.proj-preview img:focus{
    filter: contrast(200%) grayscale(50%);
    transition-duration: .3s; 
}

.proj-preview{
    display: grid;
    top:0;
    max-width: 100%;
    height: auto;
}

.proj-preview *{
    grid-area: 1/1/2/2;
}

.proj-ttl{
    font-size: 1rem;
    margin: 0;
    grid-area: 1/1/2/2;

}

.card-link{
    grid-area: 6/1/7/2;
    justify-self:flex-start;
}



/* bio section */

#bio {
    background-color: var(--grey);
    color: var(--black);
    padding-top: 2rem;
    padding-bottom: 3rem;
    max-width: 100%;
}

#bio h3{
    color: var(--purpleMid);
}

#bio img{
    border-radius: .5rem ;
    border-color: var(--purpleMid);
    /* border-style: solid; */
    /* border-width: 6px; */
    max-height: 30rem;
    width: auto;
}

#bio p{
    max-width: 34rem;
}

.bio-content{
    display: grid;
    padding: 1rem;
}

#bio section{
    display: flex;
    flex-flow: column nowrap;
} 

#bio ul li{
    margin-top: 1rem;
    max-width: 34rem;
}

#bio ul {
    margin: 0;
}
#bio h4{
    font-weight: 600;
    color: var(--black);
    font-family:'Montserrat', sans-serif;
}

#bio .bio-mini-section h3, .bio-mini-section h4{
 margin: 0;
}

#bio .bio-mini-section{
    margin-top: 3rem;
}

/* animation */
.text-circle:hover, .text-circle:focus {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: rotate-circle;
}

@keyframes rotate-circle{
    0%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

#portrait:hover, #portrait:focus{
    transform: none;
}

#portrait .text-circle{
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: constant-rotate-circle;
    animation-timing-function: ease-out;
}

@keyframes constant-rotate-circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }

}


@media(min-width:12rem){
    .name *{
        font-size: 3rem;
        line-height: 2.7rem;
    }
}


@media(min-width:18rem){
   #intro{
    max-height: max(16rem,60vh);
   }
    .name *{
        font-size: 4rem;
        line-height: 3.5rem;
    }
    #portrait{
        width: 45%;
    }

    .short-bio{
        top: -2rem;
    }

    .short-bio p {
        width: 80%;
    }

    .proj-circle{
        width: min(35%, 6rem) ;
        height: 4.7rem;
    }
    
}

@media (min-width:24rem) {
   #intro {
    max-height:18rem ;
   }
    #portrait{
        width: 40%;
        margin-right: 10%;
        margin-left: 5%;
        margin-bottom: 1rem;
    }
}


@media (min-width:32rem) {
    
    .proj-dscrp{
        grid-row:2/3;
        width: 70%;
    }

    .proj-card .proj-circle{
        width: min(30%,10rem);
        position: relative;
        top: 4rem;
    }
    

    .proj-card .tag{
        font-size:.75rem;
        margin-top: .5rem;
    }

    .proj-ttl{
        font-size:1.25rem ;
    }

    .card-link{
        grid-row: 4/5 ;
        justify-self: end;
        margin-top: 1rem;
        align-self: end;
    }
}


@media(min-width:34rem){
    #intro{
        padding-top: 1rem;
        padding-left:10% ;
        padding-right:10%;
        max-height: max(28rem,60vh);
    }
    .name *{
        font-size: 10rem;
        line-height: 7rem;
    }

    h2{
        font-size: 1.5rem;
        margin-bottom: 0;
        margin-top: .5rem;
    }

    #portrait{
        width: 35%;
    }

    .short-bio{
        top: -9rem;
    }
    .short-bio ul{
        margin-top: 7.5rem;
    }
    #intro .tag a {
        font-size: .75rem;   
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
    }

    .short-bio p {
        font-size:1rem;
        margin-left: 15%;
        max-width: 28rem;
        width: auto;
    }
}

@media(min-width:52rem){
    .short-bio{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        top:-6rem;
    }
    #portrait{
        grid-column: 2/ span 1;
        float: left;
        width: 80%;
        max-width: none;    
    }

    .short-bio ul{
        position: absolute;
        bottom: 0;
        font-size:1.2rem;
    }

    .short-bio p {
        grid-column: 3/ span 1;
        margin-left: 15%;
        margin-top:8rem ;
        max-width: 100%;
    } 


    .proj-groups{
        grid-template-columns:5fr 2fr;
        grid-template-rows: AUTO AUTO AUTO;
        gap:0 2.5rem;
    }
    #Graphic{
        grid-template-columns:2fr 5fr;
    }

    #DC{
        grid-area: 1/2/3/3;
    }
    #FINSA{
        grid-area: 1/1/2/2;
    }

    .proj-dscrp{
        font-size:1.2rem;
        margin-bottom: 1rem;
    } 

    #work-UIUX,#work-graphic{
        padding-bottom:1rem;
    }

    .bio-content{
        grid-template-columns: 4fr 7fr;
        gap: 2.5rem;
    }
}

@media(min-width:62rem){
    #portrait{
        margin-left: 25%;
        max-width: 26rem;
    }

    #intro{
        max-height: max(60vh, 34rem);
    }


    .proj-dscrp{
        width:100%;
        font-size:1.5rem;
        margin-top: 0 ;
    }

    .bio-content{
        margin-top: 1.5rem ;
    }

    #bio h3{
        font-size: 2rem;
    }

    #bio p{
        font-size: 1.5rem;
        max-width: 56rem;
    }

} 

@media(min-width:85rem){
    .short-bio{
        top: -13vw;
    }
    #portrait{
        margin-left: 34%;
    }

    .short-bio p {
        margin-top: 40%;
        margin-left: min(20%,5rem);
        font-size: 1.3rem;
        position: relative;
        left: 2rem;
    }

    #intro{
        padding-top:3rem ;
        height: calc(55rem - 13vw);
    }


    .proj-card ul{
        grid-area:0/1/1/3;
        flex-direction:row;
    }

    .proj-dscrp{
        grid-area:4/1/5/3;
        width:100%;  
        margin-top:.5rem;
        margin-bottom:0 ;
    }

    .card-link{
        font-size:1.2rem;
        place-self: center left ;
        grid-area:5/1/6/3;
    }

    .proj-display{
        grid-area:2/1/3/3;
    }
    .bio-content {
        gap: 3rem;
    }

}

@media (min-width: 120rem){
    #intro{
        max-height: 32rem;
    }

    .content-wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }
    .bio-content {
        gap: 4rem;
    }
    
}

@media(min-width:140rem){
    #intro{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .short-bio{
        top: -10rem;
    }

    .short-bio p {
        font-size: 1.25rem;
        max-width: 42rem;
        bottom: 30%;
    }

    .short-bio ul{
        bottom: 0;
    }

    #work-UIUX, #work-graphic{
        margin-top: 3rem;
    }

    .proj-display{
        grid-area:3/1/4/3;
    }

    .proj-dscrp{
        margin: 0 0 1rem 0 ;
        grid-area:2/1/3/3;
        width:70%;
    }

    .proj-card ul{
        grid-area: 4/1/5/3;
    }

    .card-link{
        place-self:end right;
        grid-area: 4/1/5/3;
        width:40%;
        text-align:right;
    }
}
